:root {
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
    --ff-red-hat: 'Red Hat Display';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Paleblue);
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;  /* tells to span the whole height of the screen, view height*/
    background-image: url(images/pattern-background-mobile.svg);
    background-position: center; /* centers the background image*/
    background-size: cover; /*covers the entire background with image*/
    background-repeat:no-repeat; /*background image will not repeat itself*/


}


main {
    background-color: white;
    border-radius: 15px;
    max-width: min-content; /* min content allows you to consume the minimum amount of content that it needs to*/
    max-height: 900px;
    max-width: 375px;
}

img{
border-top-left-radius: 12px;
border-top-right-radius: 12px;
display: block;
max-width: 100%;
}


.listen {
    color: var(--Desaturatedblue);
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 30px;
    max-width: 300px;
    text-align: center;

}

.content {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;


}

.content>div {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--Verypaleblue);
    padding: 12px;
    border-radius:10px;
}

a{
    margin-left: 50px;
}

a:hover{
    text-decoration:none;
    /* remove the underline when hovering over the word change*/
}

h1{
    font-family: var(--ff-red-hat);
    font-size: 26px;
    margin-bottom: 15px;

}

.annual{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.plan{
    font-family: var(--ff-red-hat);
    font-weight: 900;
    margin-bottom: 5px;
}

.price{
    color: var(--Desaturatedblue);
}

.payment{
    background-color: var(--Brightblue);
    border-radius: 14px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    padding: 15px 10px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    
}

.payment:hover{
    /* makes changes when the mouse hovers over payment*/
    background-color: var(--Verypaleblue);
    
}

.cancel{
    color: var(--Desaturatedblue);
    font-family: var(--ff-red-hat);
    font-weight: 700;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
}


/*for Desktop*/
@media screen and (min-width:775px){
    body{
        background-image: url(images/pattern-background-desktop.svg)

    }
    
}

